.lds_ring div {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 3.5px solid #fff;
  border-radius: 100%;
  animation: lds_ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

@keyframes lds_ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}